<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/visualiser/static/css/flame.css">
	<script src="/visualiser/static/scripts/jquery-3.2.1.min.js"></script>
	<script src="/visualiser/static/scripts/functions.js"></script>
	<script>
		$(document).ready(render_flame({{.rendererPath}}));
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>SVG</title>
</head>
<body>
  <h1 id="title">Graphite disk usage</h1>
  <div id="svgdiv">
  <div id="loaderImg"><img class="loader" src="/visualiser/static/images/ajax-loader.gif"/></div>
  </div>
</body>
</html>